<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if title %}{{ title }} — Smith Wiki{% else %}Smith Wiki{% endif %}</title>
<link rel="stylesheet" href="/assets/water.css">
</head>
<body>
<main>{{ content | safe }}</main>
</body>
</html>
