---
layout: base.njk
---
<article>
<h1><span title="{{ type }}">{{ type | typeEmoji }}</span> {{ title }}</h1>
{% if url %}<p><strong>Source:</strong> <a href="{{ url }}">{{ url }}</a>{% if author %} · {{ author }}{% endif %}{% if date %} · {{ date }}{% endif %}</p>{% endif %}
{{ content | safe }}
</article>
